.redes-sociales{
  margin-top: 150px;
  margin-right: 40px;
  float: right;
}
.logodm{
  margin: 20px 20px;
}
.fila clearfix{
  background-color: blue;
}
header{
  background-color: yellow;
  border-radius: 5px;
}
.nav{
  background-color: rgba(8, 45, 94, 0.95);
}
body{
  padding: 10px;
  background-color: black;

}
.content{
  padding: 15px;
  background-color: grey;

}

input{
  margin-bottom: 0;
}
.contenido{
  /*background-color: grey;*/
  border-radius: 10px;

}
.glyphicon{
  font-size: 50px;
}
.media-object{
  padding: 10px;
}
.buscador{
  /*background-color: blue;*/
  border-radius: 10px;
  padding: 5px;
}
.list-group{
  /*background-color: blue;*/
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;


}
