.slogan{
  text-align: right;
}
.button{
  text-align: right;
}
.cuerpo{
  padding: 20px;
  background: url("../../img/hambu.jpg")no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.container{

  background-color: rgba(211,211,211,0.3);

}
.fi-torso{
  font-size: 48px;
float: left;

}
